
body{
  text-align: center;
}
  
  main{
    flex-grow: 1;
    min-height: 500px;
  }
  
  .head {
    padding: 15%;
    margin: 0;
    position: relative;
    overflow: hidden;
    color: white;
    background-image:  linear-gradient(to right,   #74ebd5,  #acb6e5 );
    letter-spacing: 10px;
    font-size: 40px;
    height: 10em;
  }
  
  section{
    flex-grow: 1;
    padding-bottom: 25px;
    width: 70%;
    margin: 0 15%;
    text-align: left;
    min-height: 600px;
    background-color: white;
  }

  section div input{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(10, 91, 142);
  }

  section p{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin: 0 2%;
    text-align: justify;
    padding: 0;
  }

  .title{
    text-align: left;
  }

  .content{
    text-align: justify;
  }

  footer{
    position: static;
    width: 100%;
    background-color: rgb(206, 202, 202);
    color: white;
    text-align: center;
    height: 30px;
    margin-top: 50px;
    letter-spacing: 5px;
  }

