* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: white;
    align-content: center;
  }
  
  ul{
    display: flex;
    list-style-type: none;
    width: 70%;
    margin: 0 15%;
    background-color: white;
  }
  
  li{
    flex-grow: 1;
  }
  
   li:nth-child(1) a{
    display: block;
    padding: 15px 25px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
    background-color: #27dfbd;
  }

  li:nth-child(2) a{
    display: block;
    padding: 15px 25px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
    background-color: #8698e9;
  }

    a:hover{
        color: black;
    }

    a:focus{
    background-color: rgb(172, 170, 170);
    margin: 1px;
    color: white;
    }
  
  section{
    padding-top: 30px;
    text-align: center;
  }

  .navPage{
    background-image:  linear-gradient(to right,   #74ebd5,  #acb6e5 );
  }
 
  nav.navPage li:nth-child(1)  a.active{
    color: black;
    background-color: white;
    margin: 0;
}

  nav.navPage li:nth-child(2)  a.active{
    color: black;
    background-color: white;
    margin: 0;
}

